

<header>
  <h2>LOGO</h2>

  <nav>
    <ul>
      <li>
        <a routerLink="/employee/list">
          EmployeeList
        </a>
      </li>
      <li>
        <a routerLink="/employee/add">
          Add Employee
        </a>
      </li>
      <li>
        <a routerLink="/login">
          Login
        </a>
      </li>
      <li>
        <a routerLink="/signup">
          Sign-Up
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          Profile
        </a>
      </li>
    </ul>
  </nav>
</header>

