table{
  tbody{
    tr:hover{
      background-color: cadetblue;
    }
  }
}

thead{
  background-color: rgba(170, 167, 167, 0.4);
}

tr{
  align-items: center;
  justify-content: center;
  justify-items: center;
}

